{% extends "base.html" %}
{% block content %}
  <h1>Tasks list</h1>

  <br>

  {% if task_list %}
    <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Deadline</th>
      <th>Completed</th>
      <th>Priority</th>
      <th>Type</th>
    </tr>
      {% for task in task_list %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.deadline }}</td>
          <td>{% if task.is_completed is False %}No{% else %}Yes{% endif %}</td>
          <td>{% if task.priority == "URG" %}Urgent
          {% endif %}
            {% if task.priority == "HI" %}High
          {% endif %}
            {% if task.priority == "MED" %}Medium
          {% endif %}
            {% if task.priority == "LOW" %}Low
          {% endif %}
          </td>
          <td>{{ task.task_type.name}}</td>
        </tr>
      {% endfor %}
    {% else %}
    <p>There are no one task</p>
    </table>
  {% endif %}
{% endblock %}