{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>Tasks list
    <a href="{% url 'manager:tasks-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <br>
  <form action="" method="get">
    {{ search_form|crispy }}
    <input class="btn btn-primary" type="submit" value="Search">
  </form>
  <br>

  {% if task_list %}
    <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Deadline</th>
      <th>Completed</th>
      <th>Priority</th>
      <th>Type</th>
    </tr>
      {% for task in task_list %}
        <tr>
          <td>{{ task.id }}</td>
          <td><a href="{% url 'manager:tasks-detail' pk=task.id %}">{{ task.name }}</a></td>
          <td>{{ task.deadline }}</td>
          <td>{% if task.is_completed is False %}No{% else %}Yes{% endif %}</td>
          <td>{% if task.priority == "1" %}Urgent
          {% endif %}
            {% if task.priority == "2" %}High
          {% endif %}
            {% if task.priority == "3" %}Medium
          {% endif %}
            {% if task.priority == "4" %}Low
          {% endif %}
          </td>
          <td>{{ task.task_type.name}}</td>
        </tr>
      {% endfor %}
    {% else %}
    <p>There are no one task</p>
    </table>
  {% endif %}
{% endblock %}