<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-primary">Logout</button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item">
    <form method="post" action="{% url 'login' %}">Type here to login!
        {% csrf_token %}
        <button class="btn btn-primary">Login</button>
      </form>
    </li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'manager:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'manager:mytasks-list' pk=user.id %}">My tasks</a></li>
  <li class="list-group-item"><a href="{% url 'manager:tasks-list' %}">All tasks</a></li>
  <li class="list-group-item"><a href="{% url 'manager:workers-list' %}">All workers</a></li>
</ul>